<div class="deznav bg-white">
	<div class="deznav-scroll">
		<ul class="metismenu" id="menu">
			<li>
				<a href="{{ path('app_admin_dashboard') }}" class="bg-transparent text-dark">
					<i class="fa fa-dashboard"></i>
					<span class="nav-text">Tableau de bord</span>
				</a>
			</li>

			<li>
				<a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
					<i class="flaticon-025-dashboard"></i>
					<span class="nav-text">Projets</span>
				</a>
				<ul aria-expanded="false">
					<li>
						<a href="{{ path('app_admin_projets_crud_index') }}">Tout les projets</a>
					</li>
					<li>
						<a href="{{ path('app_admin_projets_crud_new') }}">Ajouter un projet</a>
					</li>
				</ul>
			</li>

			<li>
				<a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
					<i class="flaticon-025-dashboard"></i>
					<span class="nav-text">Utilisateurs</span>
				</a>
				<ul aria-expanded="false">
					<li>
						<a href="{{ path('app_admin_users_crud_index') }}">Tout les utilisateurs</a>
					</li>
					<li>
						<a href="{{ path('app_admin_users_crud_new') }}">Ajouter un utilisateur</a>
					</li>
				</ul>
			</li>
		</ul>
		<div class="copyright">
			<p>
				<strong>
					{{ appName }}
				</strong>
				© 2022 All Rights Reserved</p>
			<p class="fs-12">Made with by
				<span class="heart"></span>
				{{ appConcepteur }}</p>
		</div>
	</div>
</div>
