{% extends 'base.html.twig' %}

{% block title %}Profil de {{ user.nom ~ " " ~ user.prenom }}{% endblock %}

{% block header %}

	{% include "partials/front/base/_Header.html.twig" %}
    
{% endblock %}

{% block banner %}
<div class="card-info smpar fl-wrap">
	<div class="box-widget-menu-btn smact"><i class="far fa-ellipsis-h"></i></div>
	<div class="show-more-snopt-tooltip bxwt">
		<a href="#"> <i class="fas fa-comment-alt"></i> Write a review</a>
		<a href="#"> <i class="fas fa-exclamation-triangle"></i> Report </a>
	</div>
	<div class="bg-wrap bg-parallax-wrap-gradien">
		<div class="bg"  data-bg="{{ asset('themes/front/base/images/bg/8.jpg') }}"></div>
	</div>
	<div class="container">

		<div class="card-info-media">
			<div class="bg"  data-bg="{{ user.avatar ? asset('/uploads/images/users/' ~ user.avatar) : asset('img/avatar.jpg') | imagine_filter('format_100_100') }}"></div>
		</div>
		<div class="card-info-content">
			<div class="agent_card-title fl-wrap">
				<h4> {{ user.nom ~ " " ~ user.prenom }} </h4>
				<div class="geodir-category-location fl-wrap">
					<h5><a href="agency-single.html">Mavers RealEstate Agency</a></h5>
					<div class="listing-rating card-popup-rainingvis" data-starrating2="4"><span class="re_stars-title">Good</span></div>
				</div>
			</div>
			<div class="list-single-stats">
				<ul class="no-list-style">
					<li><span class="viewed-counter"><i class="fas fa-eye"></i> Viewed -  156 </span></li>
					<li><span class="bookmark-counter"><i class="fas fa-comment-alt"></i> Reviews -  4 </span></li>
					<li><span class="bookmark-counter"><i class="fas fa-sitemap"></i> Listings -  6 </span></li>
				</ul>
			</div>
			<div class="card-verified tolt" data-microtip-position="left" data-tooltip="Verified"><i class="fal fa-user-check"></i></div>
		</div>

	</div>
</div>
{% endblock %}

{% block breadcrumbs %}
<!-- breadcrumbs-->
<div class="breadcrumbs fw-breadcrumbs sp-brd fl-wrap top-smpar">
	<div class="container">
		<div class="breadcrumbs-list">
			<a href="{{ path('app_home') }}">Home</a><a href="#">User</a> <span>{{ user. nom ~ " " ~ user.prenom }}</span>
		</div>
		<div class="share-holder hid-share">
			<a href="#" class="share-btn showshare sfcs">  <i class="fas fa-share-alt"></i>  Share   </a>
			<div class="share-container  isShare"></div>
		</div>
	</div>
</div>
<!-- breadcrumbs end -->
{% endblock %}

{% block body %}

<!-- col-list-wrap -->
<section class="gray-bg small-padding ">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<!--box-widget-->
				<div class="box-widget fl-wrap">
					<h1 class="box-widget-title fl-wrap box-widget-title-color color-bg no-top-margin">
						About {{ user. nom ~ " " ~ user.prenom }}
					</h1>
					<div class="box-widget-content fl-wrap">
						<div class="custom-form">
							<p>{{ user.biographie }}</p>
						</div>
					</div>
				</div>
				<!--box-widget end -->
				
				<!-- content-tabs-wrap -->
				<div class="content-tabs-wrap tabs-act fl-wrap">
					<div class="content-tabs fl-wrap">
						<ul class="tabs-menu fl-wrap no-list-style">
							<li class="current"><a href="#tab-listing">  Listing  </a></li>
							<li><a href="#tab-reviews">Reviews</a></li>
						</ul>
					</div>
					<!--tabs -->                       
					<div class="tabs-container">
						<!--tab -->
						<div class="tab">
							<div id="tab-listing" class="tab-content first-tab">
								<!-- listing-item-wrap-->
								<div class="listing-item-container one-column-grid-wrap  box-list_ic fl-wrap">
									{% for p in properties %}

										{% include "propertie/_BlocCard.html.twig" %}
										
									{% endfor %}								
								</div>
								<!-- listing-item-wrap end-->

								<!-- pagination-->
								{{ knp_pagination_render(properties) }}
								<!-- pagination end-->

							</div>
						</div>
						<!--tab  end-->
						<!--tab -->
						<div class="tab">
							<div id="tab-reviews" class="tab-content">
								<div class="list-single-main-container fl-wrap" style="margin-top: 30px;">
									<!-- list-single-main-item -->
									<div class="list-single-main-item fl-wrap" id="sec6">
										<div class="list-single-main-item-title">
											<h3>Reviews <span>2</span></h3>
										</div>
										<div class="list-single-main-item_content fl-wrap">
											<div class="reviews-comments-wrap fl-wrap">
												<div class="review-total">
													<span class="review-number blue-bg">5.0</span>
													<div class="listing-rating card-popup-rainingvis" data-starrating2="5"><span class="re_stars-title">Excellent</span></div>
												</div>
												<!-- reviews-comments-item -->  
												<div class="reviews-comments-item">
													<div class="review-comments-avatar">
														<img src="images/avatar/1.jpg" alt=""> 
													</div>
													<div class="reviews-comments-item-text smpar">
														<div class="box-widget-menu-btn smact"><i class="far fa-ellipsis-h"></i></div>
														<div class="show-more-snopt-tooltip bxwt">
															<a href="#"> <i class="fas fa-reply"></i> Reply</a>
															<a href="#"> <i class="fas fa-exclamation-triangle"></i> Report </a>
														</div>
														<h4><a href="#">Liza Rose</a></h4>
														<div class="listing-rating card-popup-rainingvis" data-starrating2="5"><span class="re_stars-title">Excellent</span></div>
														<div class="clearfix"></div>
														<p>" Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. "</p>
														<div class="reviews-comments-item-date"><span class="reviews-comments-item-date-item"><i class="far fa-calendar-check"></i>12 April 2018</span><a href="#" class="rate-review"><i class="fal fa-thumbs-up"></i>  Helpful Review  <span>6</span> </a></div>
													</div>
												</div>
												<!--reviews-comments-item end-->                                                                  
											</div>
										</div>
									</div>
									<!-- list-single-main-item end -->            										
								</div>
							</div>
						</div>
						<!--tab end-->							
					</div>
					<!--tabs end-->  
				</div>
				<!-- content-tabs-wrap end -->
			</div>
			<!-- col-md 8 end -->
			<!--  sidebar-->
			<div class="col-md-4">
				<!--box-widget-->
				<div class="box-widget bwt-first fl-wrap">
					<div class="box-widget-title fl-wrap box-widget-title-color color-bg no-top-margin">Agent Contacts</div>
					<div class="box-widget-content fl-wrap">
						<div class="contats-list clm fl-wrap">
							<ul class="no-list-style">
								<li><span><i class="fal fa-phone"></i> Phone :</span> <a href="#">+7(123)987654</a></li>
								<li><span><i class="fal fa-envelope"></i> Mail :</span> <a href="#">{{ user.email }}</a></li>
								<li><span><i class="fal fa-map-marker"></i> Adress :</span> <a href="#"> 70 Bright St New York, USA</a></li>
								<li><span><i class="fal fa-browser"></i> Website :</span> <a href="#">themeforest.net</a></li>
							</ul>
						</div>
						<div class="profile-widget-footer fl-wrap">
							<div class="card-info-content_social ">
								<ul>
									<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
									<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
									<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
									<li><a href="#" target="_blank"><i class="fab fa-vk"></i></a></li>
								</ul>
							</div>
							<a href="#sec-contact" class="custom-scroll-link tolt csls" data-microtip-position="left" data-tooltip="Write Message"><i class="fal fa-paper-plane"></i></a>
						</div>
					</div>
				</div>
				<!--box-widget end --> 									
				<!--box-widget-->
				<div class="box-widget fl-wrap">
					<div class="box-widget-fixed-init fl-wrap" id="sec-contact">
						<div class="box-widget-title fl-wrap box-widget-title-color color-bg no-top-margin">Get In Touch</div>
						<div class="box-widget-content fl-wrap">
							<div class="custom-form">
								{% include "user/_contactForm.html.twig" %}
							</div>
						</div>
					</div>
				</div>
				<!--box-widget end -->               									
			</div>
			<!--   sidebar end-->								
		</div>
	</div>
	<div class="limit-box fl-wrap"></div>
</section>
{% endblock %}
