<div class="basic-form">

    <div class="row">

        <div class="col-md-10 mx-auto">
                {{ form_start(form) }}

                    {{ form_row(form.name) }}

                    <div class="w-50">
                        {{ form_row(form.smCollecte) }}
                    </div>

                    <div class="w-50">
                        <small>Ce champ est de préférence gérer automatiquement par le système. <br>
                        Il permet d'indiquer {{ projet.fStatut }}</small>
                        {{ form_row(form.fStatut) }}
                    </div>

                    <div class="w-50">
                        {{ form_row(form.imageFile) }}
                    </div>

                    <div class="w-50">
                        {{ form_row(form.endDate) }}
                    </div>

                    <div>
                        {{ form_row(form.fDescriptive) }}
                    </div>

                    <div>
                        {{ form_row(form.aFiabilite) }}
                    </div>

                    <div>
                        {{ form_row(form.dInfReglementaire) }}
                    </div>

                    <div class="w-50">
                        {{ form_row(form.visible) }}
                    </div>

                    <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>

                    <a href="{{ path('app_admin_projets_crud_index') }}" class="btn btn-danger">
                        Annuler
                    </a>
                {{ form_end(form) }}
        </div>
        
    </div>
    
</div>
