{% extends 'admin.html.twig' %}

{% block title %}Projets{% endblock %}

{% block pagetitle %}{% endblock %}

{% block body %}

    <div class="form-head d-flex flex-wrap mb-sm-4 mb-3 align-items-center">
        <div class="mr-auto  d-lg-block mb-3">
            <h2 class="text-black mb-0 font-w700">Projets</h2>
            <p class="mb-0">{{ appName }}
                Tout les projets à financer
            </p>
        </div>
        <a href="{{ path('app_admin_projets_crud_new')}}" class="btn btn-primary btn-rounded mb-3">
            <i class="fa fa-plus mr-3"></i>Nouveau projet</a>
    </div>


    <div class="card">
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Image</th>
                        <th>Slug</th>
                        <th>Montant collecté</th>
                        <th>Créer le</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for projet in projets %}
        
                    {% if is_granted('projet_edit', projet) %}
                    
                        <tr>
                            <td>{{ projet.id }}</td>
                            <td>{{ projet.name }}
                                <br>
                                <span class="small mt-2"><i class="fa fa-calendar"></i> Date fin: {{ projet.endDate ? projet.endDate|date('d/m/Y H:i:s') : '' }}</span>
                            </td>
                            <td>
                            {% if projet.imageName %}

                                <img src="{{ vich_uploader_asset(projet) | imagine_filter('large_size') }}" width="100" height="100" alt="{{ projet.name }}"/>

                            {% endif %}
                            </td>
                            <td>{{ projet.slug }}</td>
                            <td><strong class="text-primary">{{ projet.mCollecte|number_format(2, '.', ' ') }} $</strong></td>
                            <td>{{ projet.created ? projet.created|date('d/m/Y H:i:s') : '' }}</td>
                            <td>
                                <a href="{{ path('app_admin_projets_crud_show', {'id': projet.id}) }}" class="btn btn-secondary shadow btn-xs sharp mr-1"><i class="fa fa-eye"></i></a>
                                
                                <a href="{{ path('app_admin_projets_crud_edit', {'id': projet.id}) }}" class="btn btn-primary shadow btn-xs sharp mr-1"><i class="fa fa-pencil"></i></a>
                            </td>
                        </tr>
        
                    {% endif %}
        
                {% else %}
                    <tr>
                        <td colspan="11">Aucun projets trouvé</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {{ knp_pagination_render(projets) }}

{% endblock %}
