{% extends 'admin.html.twig' %}

{% block title %}{{ projet.name }}{% endblock %}

{% block pagetitle %}{% endblock %}

{% block body %}

    <table class="table bg-white">
        <tbody>
            <tr>
                <th>#ID</th>
                <td><span class="font-weight-bold text-dark">{{ projet.id }}</span></td>
            </tr>
            <tr>
                <th>Titre</th>
                <td><h1 class="h3 font-weight-bold" style="color: black!important;">{{ projet.name }}</h1></td>
            </tr>
            {% if projet.imageName %}
            <tr>
               <th>Image</th>
               <td>
                   <img src="{{ vich_uploader_asset(projet) | imagine_filter('large_size') }}" class="img-fluid card-img" alt="{{ projet.name }}"/>
               </td> 
            </tr>
            {% endif %}
            <tr>
                <th>Slug</th>
                <td>{{ projet.slug }}</td>
            </tr>
            <tr>
                <th>Fiche Descriptive</th>
                <td>{{ projet.fDescriptive|raw }}</td>
            </tr>
            <tr>
                <th>Analyse de la Fiabilité</th>
                <td>{{ projet.aFiabilite|raw }}</td>
            </tr>
            <tr>
                <th>Documents d'informations Réglementaire</th>
                <td>{{ projet.dInfReglementaire|raw }}</td>
            </tr>
            <tr>
                <th>Date de fin</th>
                <td>{{ projet.endDate ? projet.endDate|date('d/m/Y') : '' }}</td>
            </tr>
            <tr>
                <th>Montant collecté</th>
                <td><strong class="text-primary">{{ projet.mCollecte|number_format(0, '.', ' ') }}</strong></td>
            </tr>
            <tr>
                <th>Visiblité</th>
                <td>
                    <span class="badge badge-outline-{{ projet.visible ? 'success' : 'danger' }}">{{ projet.visible ? 'Public' : 'Privé' }}</span>
                </td>
            </tr>
            <tr>
                <th>Crée le</th>
                <td>{{ projet.created ? projet.created|date('d/m/Y à H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Mise à jour le</th>
                <td>{{ projet.updated ? projet.updated|date('d/m/Y à H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_projets_crud_index') }}" class="btn btn-primary">Voir tout les projets</a>

    {% if is_granted('projet_edit', projet) %}
        <a href="{{ path('app_admin_projets_crud_edit', {'id': projet.id}) }}" class="btn btn-secondary"><i class="fa fa-edit"></i> Edit</a>

        {{ include('admin/admin_projets_crud/_delete_form.html.twig') }}
    {% endif %}

{% endblock %}
