<!DOCTYPE html>
<html
	lang="fr">


	<!-- Mirrored from owlio.dexignzone.com/xhtml/form-wizard.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 14 Sep 2021 14:05:39 GMT -->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>
			{% block title %} {{ appName ~ " Administration"}} {% endblock %}
		</title>
		<!-- Favicon icon -->
		<link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">

		<link rel="stylesheet" href="{{ asset('themes/admin/vendor/chartist/css/chartist.min.css') }}">
		<link href="{{ asset('themes/admin/vendor/lightgallery/css/lightgallery.min.css') }}" rel="stylesheet">
		<!-- Custom Stylesheet -->
		<link href="{{ asset('themes/admin/vendor/bootstrap-select/dist/css/bootstrap-select.min.css') }}" rel="stylesheet">
		<link href="{{ asset('themes/admin/css/style.css') }}" rel="stylesheet">

	</head>

	<body>

		<!--*******************
				        Preloader start
				    ********************-->
		<div id="preloader">
			<div class="sk-three-bounce">
				<div class="sk-child sk-bounce1"></div>
				<div class="sk-child sk-bounce2"></div>
				<div class="sk-child sk-bounce3"></div>
			</div>
		</div>
		<!--*******************
				        Preloader end
				    ********************-->


		<!--**********************************
				        Main wrapper start
				    ***********************************-->
		<div id="main-wrapper">

			<!--**********************************
						            Nav header start
						        ***********************************-->
			{% include "widgets/Admin/_NavHeader.html.twig" %}

			<!--**********************************
						            Nav header end
						        ***********************************-->

			<!--**********************************
						            Chat box start
						        ***********************************-->
			{% include "widgets/Admin/_ChatBox.html.twig" %}

			<!--**********************************
						            Chat box End
						        ***********************************-->


			<!--**********************************
						            Header start
						        ***********************************-->
			{% include "widgets/Admin/_Header.html.twig" %}

			<!--**********************************
						            Header end ti-comment-alt
						        ***********************************-->

			<!--**********************************
						            Sidebar start
						        ***********************************-->
			{% include "widgets/Admin/_Sidebar.html.twig" %}
			<!--**********************************
						            Sidebar end
						        ***********************************-->

			<!--**********************************
						            Content body start
						        ***********************************-->
				<div class="content-body"> 
					<div class="container">

						<div class="row">

							<div class="{% block class %}col-md-10 mx-auto{% endblock %}">

								{% include "widgets/Admin/_Alert.html.twig" %}

								{% block body %}{% endblock %}

							</div>

						</div>

					</div>
				</div>



			</div>
			<!--**********************************
						            Content body end
						        ***********************************-->


			<!--**********************************
						            Footer start
						        ***********************************-->
			<div class="footer">
				<div class="copyright">
					<p>Copyright © Designed &amp; Developed by
						<a href="http://dexignzone.com/" target="_blank">DexignZone</a>
						2021</p>
				</div>
			</div>
			<!--**********************************
						            Footer end
						        ***********************************-->

		<!--**********************************
				           Support ticket button start
				        ***********************************-->

			<!--**********************************
						           Support ticket button end
						        ***********************************-->


		</div>
		<!--**********************************
				        Main wrapper end
				    ***********************************-->

		<!--**********************************
				        Scripts
				    ***********************************-->
		<!-- Required vendors --><script src="{{ asset('themes/admin/vendor/global/global.min.js') }}"> </script>
		<script src="{{ asset('themes/admin/vendor/bootstrap-select/dist/js/bootstrap-select.min.js') }}"></script>
		<script src="{{ asset('themes/admin/vendor/lightgallery/js/lightgallery-all.min.js') }}"></script>
		<script src="{{ asset('themes/admin/vendor/peity/jquery.peity.min.js') }}"></script>
		<!-- Dashboard 1 -->
		<script src="{{ asset('themes/admin/js/dashboard/finance.js') }}"></script>
		<!-- Apex Chart -->
		<script src="{{ asset('themes/admin/vendor/apexchart/apexchart.js') }}"></script>

		<script src="{{ asset('themes/admin/js/custom.min.js') }}"></script>
		<script src="{{ asset('themes/admin/js/deznav-init.js') }}"></script>


	</body>


	<!-- Mirrored from owlio.dexignzone.com/xhtml/form-wizard.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 14 Sep 2021 14:05:46 GMT -->
</html>
