<div class="card p-0 border-0 bg-white mb-4 pricingTable">
	{% if projet.imageName %}
	<a href="{{ path('app_projet_detail', {'slug': projet.slug}) }}" class="d-block">
		<img src="{{ vich_uploader_asset(projet) | imagine_filter('large_size') }}" class="img-fluid card-img" alt="{{ projet.name }}"/>
	</a>
	{% endif %}
	<div class="card-body border-0 bg-white">
		<div class="text-left mb-0 pb-0">
	
			<a href="{{ path('app_projet_detail', {'slug': projet.slug}) }}" class="pricingTable-title d-bloc">
				<h3 class="title text-left">{{ projet.name }}</h3>
			</a>
			<div class="p-0 m-0 text-left">
				<span class="price-month text-secondary">Montant colecté</span>
				<h2 class="price-value">{{ projet.mCollecte|number_format(2, '.', ' ') ~ currency }}</h2>

				<span class="text-secondary p-0 d-block text-left pt-3 pb-3 price-month"><i class="fa fa-calendar small "></i> Date de clôture <br> {{ projet.endDate|date('d/m/Y') }}</span>

				<span class="price-month text-secondary">Seuil minimum de collecte</span>
				<h2 class="price-value">{{ projet.smCollecte|number_format(2, '.', ' ') ~ currency }}</h2>
				{% if(projet.fStatut == 1) %}
					<span class="badge text-primary font-weight-bold p-0">Collecte réussie!</span> <br>
				{% endif %}
				
			</div>	
		</div>
	</div>
	<div class="card-footer border-0 bg-white">
		<a href="{{ path('app_projet_detail', {'slug': projet.slug}) }}" class="btn-home-border btn-xs">Voir le projet</a>
		{% if app.user %}

			<div class="text-secnondary pt-4">

				{% if is_granted('projet_edit', projet) %}
			
					<a href="{{ path('app_admin_projets_crud_edit', {'id': projet.id}) }}" class="btn btn-sm btn-light border"><i class="fa fa-edit"></i> Editer</a>
			
				{% endif %}

			</div>
		{% endif %}
	</div>
</div>
