{% extends 'base.html.twig' %}

{% block title %}Projets | {{ projet.name }}{% endblock %}

{% block body %}
<!-- START PROJECT AREA BANNER -->
<section class="projet-detail-area-banner" style="background-image: url({{ asset('themes/front/assets/img/cabane-one-performance.jpg') }})">
	<div class="caption">
		<div class="container">
			<div class="col-12 text-center">
				<h1 class="wow fadeInUp pb-4" data-wow-delay=".5s">{{ projet.name }}</h1>

				<div class="btn-section pb-4">
					<div class="row">
						<div class="col-6 text-left text-sm-right">
							<a href="#details" class="btn btn-home-border first wow fadeInUp" data-wow-delay=".7s">Savoir plus</a>
						</div>
						<div class="col-6 text-left">
							<a href="{{ path('app_projet_proceder_au_financement', {'slug': projet.slug}) }}" class="btn second wow fadeInUp" data-wow-delay=".9s">Contact</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- END PROJECT AREA BANNER -->

<!-- START PROJECT AREA CONTENT -->
<section class="projet-detail-content bg-dark" id="details">
	<div class="container">
		<div class="row">
			<div class="col-md-8 p-2">
				<div class="">
					<!-- Nav pills -->
					<ul class="nav nav-pills bg-primary">
						<li class="nav-item">
							<a class="nav-link active" data-toggle="pill" href="#description">Fiche descriptive</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="pill" href="#analyse">Analyse de la fiabilité</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="pill" href="#reglement">Documents d'information réglementaire</a>
						</li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content bg-light pt-5">
						<div class="tab-pane container active" id="description">
							{{ projet.fDescriptive|raw }}
                        </div>

						<div class="tab-pane container fade" id="analyse">
                            {{ projet.aFiabilite|raw }}
                        </div>

						<div class="tab-pane container fade" id="reglement">
                            {{ projet.dInfReglementaire|raw }}
                        </div>

					</div>
				</div>
			</div>
			<div class="col-md-4 p-2">
				<div class="bg-light p-4 widget">
					<h2 class="text-center">Financer ce projet</h2>

					{% if projet.fStatut == 1 %}
						<p>Projet terminer</p>
					{% endif %}
					
					<p>Date de fin {{ projet.endDate|date('d/m/Y') }}</p>

                    <a href="{{ path('app_projet_proceder_au_financement', {'slug': projet.slug}) }}" class="mt-3 btn btn-success">Procéder au financement</a>
				</div>

				<div class="bg-light p-4 widget">
					<h2 class="text-center">Montant collecté</h2>

					<h3 class="font-weight-bold text-center">{{ projet.mCollecte|number_format(2, '.', ' ') ~ currency }}</h3>
					<!--<p>Type d'investissement:</p>
					<p>Girardin Agricol</p>-->
				</div>

				<div class="bg-light p-4 widget">
					<h2 class="text-center">Etat de la collecte</h2>
					<table class="table table-borderless">
						<tbody>
							<tr>
								<td>Temps restant</td>
								<td>
									{% if projet.fStatut == 1 %}
										<span class="badge badge-success">Projet terminer</span>
									{% endif %}
								</td>
							</tr>
							<tr>
								<td>Date de clôture</td>
								<td>{{ projet.endDate|date('d/m/Y') }}</td>
							</tr>
							<tr>
								<td>Seuil de succès minimum de collecte:</td>
								<td>{{ projet.smCollecte|number_format(2, '.', ' ') ~ currency }}</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="bg-primary text-light widget green-widget">
					<span class="icon">
						<i class="fa fa-lock"></i>
					</span>

                    {% if app.user %}
                    
                        <p>Vous êtes connecter</p>

                        {% if is_granted('projet_edit', projet) %}

                            <a href="{{ path('app_admin_projets_crud_edit', {'id': projet.id}) }}" class="btn btn-lg btn-outline-light">Editer le projet</a>

							<a href="{{ path('app_admin_projets_crud_edit', {'id': projet.id}) }}" class="btn-home-border">Soumettre un projet</a>

                        {% endif %}

                    {% else %}
                            
                        <p>Vous devez être connecté pour voir tous les détails du projet</p>

                    {% endif %}
                    
				</div>
			</div>
		</div>
	</div>
</section>
<!-- END PROJECT AREA CONTENT -->

<section class="green-section p-0 m-0 bg-primary ">
	<div class="m-0">
		<div class="container">
			<p>L'investissement partipatif présente un risque important de perte partialle ou totale du capital ainsi qu'un risque d'illiquidité.
				<br>
				Un crédit vous engage et doit être remboursé. N'empruntez pas au-delà de votre capacité de remboursement.</p>
		</div>
	</div>
</section>

<section class="dark-section bg-dark">
	<div class="container">
		<div class="row">

			<div class="col-lg-3 col-md-6">
				<div class="societie_img bg-white text-center">
					<img src="{{ asset('themes/front/assets/img/logo.png') }}" class="w-50" alt="logo {{ appName }}">
				</div>
			</div>
			<div class="col-lg-9 col-md-6">
				<div class="about_societie">
                    <p>Nissim, la première plateforme spécialisée dans la levée de fonds pour le financement des maisons écologiques et durables. Notre mission : financer la construction des maisons écologiques et durables.

					Adhérer à la dynamique NISSIM, c'est faire le choix de participer au développement d'un écosystème durable. 

					Tous les processus de l'inscription et suivi des projets sont administrés par des professionnels partenaires.
					</p>
				</div>
			</div>

		</div>

		<div class="row text-center">
			<div class="col-12">
				<div>
					<a href="">Mention légales 
					</a>
				</div>

				<div>
					Ce site est protégé par reCAPTCHA et
					<a href="">la politique de confidentialité</a>
					et
					<a href="">les conditions d'utilisation</a>
					de Google s'appliquent.
				</div>
			</div>
		</div>

	</div>
</section>
{% endblock %}
