<!-- The Modal -->
<div class="modal fade" id="financemenDetail-{{ financement.id }}">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header border-0">
        <h4 class="modal-title">Details du financement</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body table-responsive">
        <table class="table text-left">
        	<tbody>
        		<tr>
	          		<th> <p class="pt-2 pb-2">Date</p></th>
	        		<td><p class="mt-3 mb-3"><i class="fa fa-calendar"></i> {{ financement.created|date('d/m/Y') }}</p></td>      			
        		</tr>
        		<tr>
        			<th> <p class="pt-2 pb-2">Montant</p></th>
        			<td><p class="badge montant mt-3 mb-3">{{ financement.montant|number_format(2, ' ', ' ') ~ currency }}</p></td>
        		</tr>
        		<tr>
        			<th> <p class="pt-2 pb-2">Projet</p></th>
        			<td>
        				<div class="media mt-3 mb-3">
        					{% if financement.projet.imageName %}
    							<img src="{{ vich_uploader_asset(financement.projet) | imagine_filter('large_size') }}" class="mr-2" width="90" height="90" alt="{{ financement.projet.name }}"/>
    							{% endif %}
        					<div class="media-body">
        						<h4 class="h6 font-weight-bold pt-3">{{ financement.projet.name }}</h4>
        					</div>
        				</div>
        			</td>
        		</tr>
        		<tr>
        			<th> <p class="pt-2 pb-2">Statut de la transaction</p></th>
        			<td>
        				<span class="mt-3 mb-3 badge badge-{{ financement.statut == 1 ? 'success' : 'danger'}}">{{ financement.statut == 1 ? 'réussi' : 'échoué'}}</span>
        			</td>
        		</tr>
        	</tbody>
        </table>
      </div>

    </div>
  </div>
</div>