{% extends 'base.html.twig' %}

{% block title %}Espace utilisateur{% endblock %}

{% block body %}

{% include "user/_sectionBanner.html.twig" %}

<!-- START PROJECT AREA CONTENT -->
<section class="bg-light pt-4 pb-4">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="">
					<!-- Nav pills -->
					<ul class="nav nav-tabs">
						<li class="nav-item">
							<a class="nav-link active" data-toggle="pill" href="#profile">Profil Utilisateur</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="pill" href="#financement">Financements</a>
						</li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content bg-white pt-2 border">
						<div class="tab-pane container active p-2" id="profile">

                            <table class="table table-borderless">
                                <tbody>
                                    <tr>
                                        <th>Nom</th>
                                        <td><strong>{{ user.nom }}</strong></td>
                                    </tr>
                                    <tr>
                                        <th>Email</th>
                                        <td>{{ user.email }}</td>
                                    </tr>
                                    <tr>
                                        <th>Role</th>
                                        <td>
                                            {% for role in user.roles %}
                                                <span class="badge">
                                                    {% if role == "ROLE_USER"%}
                                                        Utilisateur
                                                    {% endif %}
                                                </span>
                                            {% endfor %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Statut du compte</th>
                                        <td>
                                            <span class="badge badge-{{ user.isVerified ? 'success' : 'danger' }}">
                                                {{ user.isVerified ? 'Actif' : 'Non activé' }}
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Dernière mise à jour</th>
                                        <td>{{ user.updated ? user.updated|date('d/m/Y à H:i:s') : '' }}</td>
                                    </tr>
                                    <tr>
                                        <th>Actions</th>
                                        <td>
                                            <a href="{{ path('app_user_edit_profile') }}" class="btn btn-light border"><i class="fa fa-user"></i> Editer votre profil</a>
                                            <a href="{{ path('app_user_edit_profile') }}" class="btn btn-light border"><i class="fa fa-lock"></i> Modifier votre mot de passe</a>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                            
						</div>

						<div class="tab-pane container fade" id="financement">
							<div class="p-2">

                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Montant $</th>
                                            <th> <i class="fa fa-calendar text-secondary"></i> Date de transaction</th>
                                            <th>Statut</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                        {% for financement in financements %}
                                            <tr class="col-md-4">
                
                                                <td><strong>{{ financement.montant|number_format(2, '.', ' ') }}</strong></td>
                                                <td>{{ financement.created|date('d/m/Y') }}</td>
                                                <td><span class="badge badge-success">Succès</span></td>
                
                                            </tr>
                                        {% endfor %}

                                    </tbody>
                                </table>

                            </div>

                            <div class="row">

                                {{ knp_pagination_render(projets) }}

                            </div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- END PROJECT AREA CONTENT -->
    
{% endblock %}
