{% extends 'base.html.twig' %}

{% block title %}Espace utilisateur{% endblock %}

{% block body %}

{% include "user/_sectionBanner.html.twig" %}

<!-- START PROJECT AREA CONTENT -->
<section class="bg-light costom-padding-style2">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="d-block">
					<!-- Nav pills -->
					<ul class="nav nav-tabs">
						<li class="nav-item">
							<a class="nav-link active font-weight-bold text-dark" data-toggle="pill" href="#profile">Votre profil</a>
						</li>
						<li class="nav-item">
							<a class="nav-link font-weight-bold text-dark" data-toggle="pill" href="#financement">Historique des Financements</a>
						</li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content bg-white pt-2 border">
						<div class="tab-pane container active" id="profile">

                            <div class="dr">
                                <h4 class="mt-4 mb-4 font-weight-bold">Informations de profil</h4>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-borderless">
                                    <tbody>
                                        <tr>
                                            <th>Nom</th>
                                            <td>
                                                <strong class="font-weight-bold float-md-left">{{ user.nom }}</strong>
                                                <a href="{{ path('app_user_edit_profile') }}" class="float-md-right btn btn-home-border"><i class="fa fa-edit"></i> Modifier</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Email</th>
                                            <td><span class="badge font-weight-bold badge-light">{{ user.email }}</span></td>
                                        </tr>
                                        <tr>
                                            <th>Role</th>
                                            <td>
                                                <span class="badge badge-secondary">
                                                    {% if is_granted("ROLE_USER") %}<i class="fa fa-user"></i>
                                                    Utilisateur
                                                    {% endif %}
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Statut du compte</th>
                                            <td>
                                                <span class="badge badge-{{ user.isVerified ? 'success' : 'danger' }}">
                                                    {{ user.isVerified ? 'Actif' : 'Non activé' }}
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Dernière mise à jour</th>
                                            <td><span class="badge badge-light"><i class="fa fa-calendar-alt mr-2"></i>{{ user.updated ? user.updated|date('d/m/Y à H:i:s') : '' }}</span></td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="tab-pane container fade" id="financement">
                         <div class="p-2">

                            <h4 class="mt-4 mb-4 font-weight-bold">Vos dernières transactions financières</h4>
                            <div class="table-responsive mb-4">
                                <table class="table table-striped table-borderless user-financement">
                                    <thead>
                                        <tr style="border-bottom: 1px solid green;">
                                            <th> <i class="fa fa-calendar text-secondary"></i> Date</th>
                                            <th>Montant</th>
                                            <th>Projet</th>
                                            <th>Statut</th>
                                            <th class="text-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        {% for financement in userfinancements(app.user, 6) %}

                                        <!-- if is_granted('app_auteur_du_financement', financement) %}-->
                                        <tr class="col-md-4">

                                            <td>{{ financement.created|date('d/m/Y') }}</td>
                                            <td>
                                                <span class="badge montant">{{ financement.montant|number_format(2, ' ', ' ') ~ currency }}</span></td>
                                                <td>{{ financement.projet.name|u.truncate(30, '...') }}  {{ financement.user.nom }}</td>
                                                <td><span class="badge badge-{{ financement.statut == 1 ? 'success' : 'danger'}}">{{ financement.statut == 1 ? 'réussi' : 'échoué'}}</span></td>
                                                <td class="text-center">
                                                    <button type="button" class="btn" data-toggle="modal" data-target="#financemenDetail-{{ financement.id }}">
                                                      <i class="fa fa-ellipsis-h"></i>
                                                  </button>

                                                  {% include "user/_financementBlocDetail.html.twig" %}
                                              </td>
                                          </tr>
                                          <!-- endif %} -->
                                          {% else %}
                                          <tr>
                                            <td colspan="5">Vous n'avez éffectuez aucun financement</td>
                                        </tr>
                                        {% endfor %}

                                    </tbody>
                                </table>
                            </div>

                            <a href="{{ path('app_user_financements') }}" class="btn-home-border mb-3">Historique</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</section>
<!-- END PROJECT AREA CONTENT -->

{% endblock %}
