{% extends 'admin.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
    <h1>Utilisateurs</h1>

    <a href="{{ path('app_admin_users_crud_new') }}">Nouvel utilisateur</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Projets</th>
                <th>Roles</th>
                <th>Compte Status</th>
                <th>Created</th>
                <th>Updated</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.projets|length }}</td>
                <td>
                    {% for role in user.roles %}

                        {% if role == "ROLE_USER" %}
                            Utilisateur
                        {% elseif role == "ROLE_ADMIN" %}
                            Administrateur
                        {% endif %}

                    {% endfor %}
                </td>
                <td>{{ user.isVerified ? 'Activé' : 'Non activé' }}</td>
                <td>{{ user.created ? user.created|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ user.updated ? user.updated|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_admin_users_crud_show', {'id': user.id}) }}">Afficher</a>
                    <a href="{{ path('app_admin_users_crud_edit', {'id': user.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Aucun utilisateur</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ knp_pagination_render(users) }}

{% endblock %}
